name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build the Docker image
      run: |        
        git clone https://github.com/aiarena/aiarena-test-bots
        wget -q https://raw.githubusercontent.com/yatahunt/sc2patch/master/Maps/2021Season2Ladder.zip         
        mkdir maps
        mv 2021Season2Ladder.zip maps/2021Season2Ladder.zip
        cd maps
        unzip 2021Season2Ladder.zip 
        cd ..
        docker build -t aiarena .
        export CONFIG_PATH=./example_config.py
        export MATCHES_PATH=./match.txt
        export BOTS_PATH=./aiarena-test-bots/
        export MAPS_PATH=./maps/
        export REPLAYS_PATH=./replays/
        ls -l
        docker run -v $(CONFIG_PATH):/root/aiarena-client/config.py -v $(MATCHES_PATH):/root/aiarena-client/matches -v $(BOTS_PATH):/root/aiarena-client/bots -v $(MAPS_PATH):/root/StarCraftII/maps $(REPLAYS_PATH):/root/aiarena-client/replays:rw -v -it aiarena:latest

 
